<div class="bg-top">
    <div class="main-width">
        <div class="row-fluid">
            <div class="span6">
                <div class="b-cart">
                    <a href="<?php echo DOMAIN;?>lien-he-mua-hang" title="Giỏ hàng">
                        <i class="fa fa-shopping-cart"></i>
                        Giỏ hàng
                    </a>
                    <div class="clear-main"></div>
                </div>
            </div>
            <div class="span6">
                <div class="b-lienket">
                    <a href="" target="_blank">
                        <img src="<?php echo DOMAIN;?>images/lk_1.png"/>
                    </a>
                    <a href="" target="_blank">
                        <img src="<?php echo DOMAIN;?>images/lk_2.png"/>
                    </a>
                    <a href="" target="_blank">
                        <img src="<?php echo DOMAIN;?>images/lk_3.png"/>
                    </a>
                    <a href="" target="_blank">
                        <img src="<?php echo DOMAIN;?>images/lk_4.png"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>