*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url('font/OpenSans-Regular.ttf') format('truetype');
}
body{
    background: #ffffff;
    font-family: "OpenSans-Regular";
    font-size: 13px;
    color: #333;
}
h1 {font-size: 23px;}
h2 {font-size: 16px;}
h3 {font-size: 14px;}
h4 {font-size: 12px;}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    line-height: 19px;
}
label{
    font-size: 12px;
}
a{
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    font-size: 12px;
}

p{
    margin: 0px;
    padding: 0px;
}
ul, ol{
    margin: 0;
    padding: 0;
}
a:hover, a h3:hover, .box-menu-left ul li a:hover, .box-menu-footer ul li a:hover{
    color: #fa7300;
    text-decoration: none;
}
form{
    margin-bottom: 0;
}
/**css thong-bao-err**/
.thong-bao-err label{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 25px;
}
/**css cs3 hover img**/
.img-outer:hover img.image {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}
.img-outer {
    overflow:hidden;
}
.image {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
/**reset slide**/
.slideslide{
    background: #fff;
    margin-bottom: 8px;
}
.slideslide .carousel-indicators .active{
    background: #5a3014;
}
.slideslide .carousel-indicators li{
    background: #000000;
    width: 8px;
    height: 8px;
    border-radius: 15px;
}
.slideslide .carousel-indicators{
    right: 1%;
}
.slideslide .carousel-control{
    background: none;
    border: 0;
    top: 48%;
    color: #000000;
}
.slideslide .carousel-indicators{
    top: inherit;
    bottom: 3%;
}
.slideslide .carousel{
    margin-bottom: 8px;
}
.slideslide .carousel{
    margin-bottom: 0;
}
.slideslide .carousel-caption {
    position: absolute;
    min-height: 135px;
    right: 48%;
    top: 62%;
    left: 5.55%;
    padding: 15px;
    background: url("../images/bg-content-slide.png") repeat-x top;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.btdetail-slide{
    text-align: right;
}
.btdetail-slide a{
    color: #fff;
}
.btdetail-slide a:hover{
    text-decoration: underline;
}