@media (max-width: 1200px){

}

@media (max-width: 1000px){
    
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .box-search{margin-top: 50px;}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .main-width{
        width: 100% !important;
        margin: 0 auto;
    }
    body{padding: 0 5px;}
    #menu-display{display: block !important;}
    .anmenu{display: none !important;}
    .bg-head{background: none; height: auto;}

    .bg-footer{padding: 8px;}
 }

@media (max-width: 530px) {
    .b-shortdes{max-height: 65px; overflow: hidden;}
}

/* Landscape phones and down */
@media (max-width: 480px) {
    input.inputTukhoa{width: 280px;}
}