.bg{background: red;}
.bg1{background: orange;}
.clear-content{clear: both;height: 5px;}
.clear-main{clear: both;}
.clear-khoangcach{clear: both; height: 13px;}
.box-shadow{box-shadow: 0px 0px 5px #ddd; padding: 8px;}
.border{border: 1px solid #efefef; padding: 10px;}
.italic{font-style: italic;}
.main-width{width: 1200px;margin: 0 auto;}
.position-relative{position: relative;}
.position-absolute{position: absolute;}
.border-content{background: #fff; border: 5px solid #fff; border-radius: 5px;}

@font-face {
    font-family: "UTMAvoBold";
    src: url('font/UTM AvoBold.ttf') format('truetype');
}

/**css header**/
.wrap-head{position: relative; height: 110px;}
.wrap-head .bg-head{position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0,0,0,0.3);}
.wrap-head label{font-size: 35px; font-family: "UTMAvoBold"; padding: 40px 0 0 0; margin: 0; color: #fff;}

.b-search-head{position: absolute; top: 5px; right: 0;}
.b-search-head button{padding: 7px 10px; font-size: 18px; float: right; border: 0; margin: 0;}
.b-search-head input{border: 0; border-radius: 0; padding: 6px 10px; margin: 0;}

/**css content**/
.b-content{padding: 40px 0;}
.b-content-detail{padding: 40px 10px 10px 10px; border-left: 1px solid #efefef; border-right: 1px solid #efefef;}

.b-list-cat{}
.b-list-cat h2.title-cat{font-size: 22px; text-align: center; margin-bottom: 40px;}
.b-list-cat h2.title-cat a{font-size: 22px; line-height: 30px; text-align: center; color: #333; text-transform: uppercase;}
.wrap-list{margin-bottom: 45px; border-bottom: 1px solid #efefef;}
.b-list-ex1{margin-bottom: 20px;}
.b-list-ex1 ul{margin: 0 0 25px 0px; overflow: hidden;}
.b-list-ex1 ul li{list-style: none; float: left; width: 18.4%; margin-left: 2%; margin-bottom: 25px;}
.b-list-ex1 ul li:first-child{margin-left: 0;}
.b-list-ex1 ul li:nth-child(5n+1){margin-left: 0;}
.b-list-ex1 ul li .b-row{border: 1px solid #efefef;}
.b-list-ex1 ul li h3{margin: 15px 10px 10px 10px; height: 45px; line-height: 22px; overflow: hidden; text-align: center;}
.b-list-ex1 ul li h3 a{font-size: 15px; color: #333; text-transform: uppercase;}

.wrap-list-t{margin-bottom: 10px;}
.wrap-list-t .b-list-ex2{}
.wrap-list-t .b-list-ex2 li{overflow: hidden; border-bottom: 1px solid #efefef; margin-bottom: 25px; padding-bottom: 25px;}
.wrap-list-t .b-list-ex2 li:last-child{margin-bottom: 0; padding-bottom: 0; border-bottom: 0;}
.wrap-list-t .b-list-ex2 img{float: left; margin-right: 25px;}
.wrap-list-t .b-list-ex2 h2{font-size: 15px; margin-bottom: 10px;}
.wrap-list-t .b-list-ex2 h2 a{font-size: 15px; color: #333; text-transform: uppercase;}

/**css content-left**/
.content-left{width: 845px; float: left;}

/**css content-right**/
.content-right{width: 335px; float: right;}

/**css video**/
.list-video{text-align: center; margin: 30px 0 50px 0;}
.list-video iframe{width: 90%; height: 450px;}

/**css product**/
.wrap-filter-cat{}
.wrap-filter{}
.wrap-filter ul{overflow: hidden; padding: 15px 0 0 0; margin: 0;}
.wrap-filter-cat ul{overflow: hidden; padding: 0px 0 30px 0; margin: 0;}
.wrap-filter ul li{list-style: none; float: left; padding: 0 6px;}
.wrap-filter ul li:first-child{padding-left: 0;}
.wrap-filter ul li a{color: #6c6c6c;}
.wrap-filter ul li a.active{color: #000; font-weight: bold;}

.b-list-ex3{margin-bottom: 20px;}
.b-list-ex3 ul{margin: 30px 0 25px 0px; overflow: hidden;}
.b-list-ex3 ul li{list-style: none; float: left; width: 18.4%; margin-left: 2%; margin-bottom: 25px;}
.b-list-ex3 ul li:first-child{margin-left: 0;}
.b-list-ex3 ul li:nth-child(5n+1){margin-left: 0;}
.b-list-ex3 ul li .b-row{border: 1px solid #efefef;}
.b-list-ex3 ul li h3{margin: 15px 10px 10px 10px; height: 45px; line-height: 22px; overflow: hidden; text-align: center;}
.b-list-ex3 ul li h3 a{font-size: 15px; color: #333; text-transform: uppercase;}

.b-list-ex4{padding: 20px 0 0 0;}
.b-list-ex4 ul{overflow: hidden;}
.b-list-ex4 ul li{list-style: none; padding: 20px 0; border-bottom: 1px solid #efefef;}
.b-list-ex4 ul li:last-child{border-bottom: 0; margin-bottom: 20px;}
.b-list-ex4 ul li .b-row{overflow: hidden;}
.b-list-ex4 ul li img{width: 18%; float: left; margin-right: 20px;}
.b-list-ex4 ul li h3{margin-bottom: 10px;}
.b-list-ex4 ul li h3 a{color: #333; font-size: 15px; text-transform: uppercase;}

/**css detail product**/
.box-detail-product h1.title{font-size: 18px; position: absolute; top: -99999999px; text-transform: uppercase; color: #333; line-height: 25px; margin-bottom: 6px; text-align: left; margin: 15px 0 25px 0;}
.box-info-product{border-top: 1px dashed #ddd;}
.box-info-product [class*="span"]{min-height: 18px;}
.box-info-product{padding: 12px 0; font-size: 15px;}
.box-info-product span.giagia{color: red; font-size: 15px; font-weight: bold;}
.box-info-product select{margin-bottom: 0; min-height: 15px; font-size: 12px;}
.box-info-product input.span3{min-height: 28px !important; margin-bottom: 0;}
.bg-khuyenmai{background: #17a2d5; padding: 10px; color: #fff; line-height: 22px; margin-bottom: 5px;}
.box-btn-muahang{padding: 8px 0;}
.box-btn-muahang select{float: left; width: 60px; margin-right: 5px;}
.bg-goihang{background: #DA2B37; padding: 10px; color: #fff; line-height: 22px;}
.khoangcach-detal-product{padding: 5px; border-bottom: 1px dashed #ddd; margin-bottom: 10px;}
.b-detail-if iframe{width: 100%; height: 300px;}

.box-tab-content-detail{}
.box-tab-content-detail .nav-tabs{border: 0;}
.box-tab-content-detail .nav-tabs>li{background: #efefef; margin: 0; border-right: 5px solid #fff;}
.box-tab-content-detail .nav-tabs>li:hover a{border: 0;}
.box-tab-content-detail .nav-tabs>.active>a, .box-tab-content-detail .nav-tabs>.active>a:hover, .box-tab-content-detail .nav-tabs>.active>a:focus{border: 0; background: #efefef;}
.box-tab-content-detail .nav-tabs>li>a{-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;  background: #efefef; border: 0; font-size: 16px; padding-top: 15px; padding-bottom: 15px;}
.anbot{max-height: 1000px; overflow: hidden; padding-bottom: 25px;}

/**css success**/
.dathangthanhcong{text-align: center; padding: 30px 0;}
.dathangthanhcong label.succ{color: red; font-weight: bold; font-size: 40px; margin-bottom: 20px; line-height: 48px;}


/**css home**/

/**css menu**/
.bg-menu{background: #19a53a;}

#menu-display{background: #19a53a; position: relative; margin-bottom: 5px;}
#menu-display i{font-size: 28px;color: #fff;margin: 0px 8px 0px 0px;padding: 3px 0;float: right;}
.menu-respon{position: absolute;right: 0px;left: 0;top: 33px;display: none;background: #fff;z-index: 9999999;}
.menu-respon-active{display: block !important;}
.menu-respon .accordion-heading .accordion-toggle{padding: 6px 8px;}
.menu-respon .accordion-inner{padding: 6px 8px;}
.menu-respon .accordion-heading a{text-transform: uppercase;font-weight: bold;color: #000;}
.menu-respon .accordion-heading a:hover{color: #1101b3;}
.menu-respon .accordion-group{margin-bottom: -1px;border-radius: 0;}
.menu-cap2{margin: 0 5px;padding: 5px 0;border-bottom: 1px solid #ddd;}
.menu-cap2 a{color: #484848;font-weight: bold;}
.menu-respon .accordion-inner .menu-cap2:last-child{border-bottom: 0;}
.menu-cap3{padding-left: 10px;}
.menu-cap3 a{font-weight: normal;}

/**css product**/

/**css detail product**/

.wrap-form-dk{background: rgb(0, 148, 195); padding: 50px 0;}
.title-form1{text-transform: uppercase; color: #fff; font-size: 30px; line-height: 35px; text-align: center; margin-bottom: 50px;}
.form-ic1{padding: 200px 0 0 0;}
.form-ic2{padding: 0px 0 0 0; margin-top: -50px;}
.form-ic2 .fi1{width: 60%;}
.form-ic2 .fi2{position: absolute; top: 0; right: 0; width: 60%;}
input.ipf{min-height: 50px !important;background: none !important;color: #fff !important;}
input.ipf::-webkit-input-placeholder { /* Edge */
    color: #fff;
}

input.ipf:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

input.ipf::placeholder {
    color: #fff;
}

textarea.iptext::-webkit-input-placeholder { /* Edge */
    color: #fff;
}

textarea.iptext:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

textarea.iptext::placeholder {
    color: #fff;
}
textarea.iptext{background: none !important; color: #fff !important;}
.b-smf{text-align: center; padding: 30px 0 0 0;}
.fmsmf{background: #fff; padding: 15px 25px; font-size: 18px; border: 0;}


/**css tin tuc**/
.box-run-new{border-bottom: 1px solid #ddd; padding-bottom: 15px; margin-bottom: 15px;}
.box-img-new{width: 200px; margin-right: 25px; float: left;}
.box-run-new img{border: 1px solid #efefef; padding: 1px; min-height: 120px;}
.box-run-new h3{font-size: 16px; margin-bottom: 10px;}
.box-run-new a{color: #008620;}
.shortdes-new{margin: 0 0 25px 0;}
.box-detail-new{margin-bottom: 20px;}
.bar-new-detail label{font-size: 13px; text-transform: uppercase; font-weight: bold; border-bottom: 1px dashed #ddd; padding-bottom: 8px; margin-bottom: 8px;}
.bar-new-detail ul{padding-left: 25px; margin-bottom: 15px;}
.bar-new-detail ul li h3{font-size: 12px; font-weight: normal;}
.bar-new-detail ul li a{color: #000;}
.googlemap{margin-top: 15px;}
.googlemap iframe{width: 100%; height: 450px;}
.view-detail{border: 1px solid #ddd; display: table; float: right; padding: 6px 20px; margin: 0 0 0px 0;}
.view-detail a{font-size: 13px; color: #000;}
.padd-detail{padding: 25px 0 0 0;border-top: 0;}
.ct-tt{padding: 0 0 15px 0; line-height: 22px; font-size: 14px;}
.ct-tt img{margin: 15px 0;}
.ct-tt ul, .ct-tt ol{margin-left: 25px;}

/**dieu huong**/
.box-dieuhuong{background: #f6f6f7; padding: 10px 0;}
.box-dieuhuong a{color: #333;}
.box-dieuhuong i{padding: 0 10px;}

/**css footer**/
.bg-footer{padding: 35px 0; background: #ececec;}
.kg-imgft{height: 25px;}

.b-titleft{border-bottom: 1px solid #0079cd; width: 100%; margin: 0 0 15px 0;}
.b-titleft label{display: table; border-bottom: 1px solid #0079cd; margin: 0; color: #0079cd; font-weight: bold; text-transform: uppercase; font-size: 17px; padding: 0 0 5px 0;}

.ct-ft{line-height: 23px; font-family: arial;}
.b-bandoft{width: 90%; float: right;}
.b-googlemap iframe{width: 100%; height: 200px;}

.b-copyright{background: #006217; color: #fff; padding: 8px 0; text-align: center;}