<div class="bg-cat bg-cat-fix">
    <div class="bg-title-cat bg-title-catff">
        <h1><?php echo $cat['Catproduct']['name']?></h1>
    </div>
</div>

<div class="padd-detail">
    <div class="b-product-list padd-b-product-list">
        <div class="" style="margin: 5px; color: #000; font-size: 15px;">
            <?php
                //$setting = $this->requestAction('/comment/setting');
            ?>
            <div style="" class="ct-tt"><?php echo $setting['contactinfo'];?></div>
            
            <div style="height: 15px;"></div>
            <form method="post" id="check_form" action="<?php echo DOMAIN; ?>contact/send">
                <table class="guimail">
                    <tr><td>Tên: </td><td><input id="input" name="name" class="validate[required]" type="text" placeholder="Nhập tên" required="" /></td></tr>
                    <tr><td>Số điện thoại: </td><td><input id="input" type="text" class="validate[required,custom[telephone]]" name="phone" placeholder="Nhập số điện thoại"  required=""  /></td></tr>
                    <tr><td>Email: </td><td><input id="input" type="email"  class="validate[required,custom[email]]" name="email" placeholder="Nhập email"  required="" /></td></tr>
                    <tr><td>Tiêu đề: </td><td><input id="input" type="text" class="validate[required]" name="title" placeholder="Nhập tiêu đề" required="" /></td></tr>
                    <tr><td>Nội dung: </td><td><textarea class="span8" style="width: 345px; height: 100px;" name="content" cols="50" rows="10"></textarea></td></tr>
                    <tr>
                        <td><div class="title_thongtin"><?php echo 'Captcha';?>: &nbsp; &nbsp;</div></td>
                        <td>
                            <input type="text" name="captcha" class="span3" placeholder="captcha" required="" required=""/><img id="img_CAPTCHA_RESULT_send" style="width: 88px;" src="<?php echo DOMAIN;?>captcha" alt="" noloaderror="1" /><img id="reloadCaptcha" class="reloadCapcha" onmouseover="this.style.cursor='pointer'" onclick="img_reload();" title="Đổi mã an toàn" alt="renew capcha" src="<?php echo DOMAIN;?>images/icon-reload.png" />
                        </td>
                    </tr>
                    <tr><td></td><td><input type="submit" value="Send" class="btn btn-primary" />&nbsp;<input type="reset" value="Reset" class="btn" /></td></tr>
                </table>
            </form>
            <div class="googlemap"><?php echo $setting['googlemap'];?></div>
        </div>         
        <div class="clear-main"></div>
    </div>

</div>

<style>
    #input{
		width:200px;
		border: 1px solid #C2C2C2;
		height:22px;
		}
   .guimail tr td{
	   padding-top:10px;
	   padding-right:20px;
       color: #000;
	   }
	.guimail textarea{
		border: 1px solid #C2C2C2;
		}
</style>
<script type="text/javascript">
    function img_reload(){
    	document.getElementById("img_CAPTCHA_RESULT_send").src = document.getElementById("img_CAPTCHA_RESULT_send").src.split("?")[0] + "?"+Math.random();;
    }
</script> 