<div class="row-fluid">
    <div class="thong-bao-err">
        <label>Không tìm thấy đường link này !</label>
        <label>
            <a href="<?php echo DOMAIN;?>">Click vào đây về trang chủ</a>
        </label>
    </div>
</div>